* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    --AzulClaro: #93B7BE;
    --AzulEscuro: #2f4858;
    --BrancoFosco: #F1FFFA;
    --CinzaClaro: #9BA2A0;
    --CinzaEscuro: #454545;
}

span{
color:red !important;
}

body {
    width: 100vw;
    height: auto;
    color: var(--BrancoFosco);
    background-size: 400% 400%;
    background-image: linear-gradient(-45deg, var(--AzulEscuro), var(--AzulClaro), var(--CinzaClaro), var(--CinzaEscuro));
    animation: mygradient 40s ease infinite;
    background-color: var(--CinzaEscuro);
    overflow-x: hidden;
}

main {
    margin-top: 10vh;
    overflow-y: auto;
}

/* Formatação header */

#HeaderPagina {
    position: fixed;
    top: 0;
    height: 10vh;
    width: 100vw;
    background-color: var(--AzulEscuro);
    display: flex;
}

.Pedaco {
    width: 65vw;
    height: 5vh;
}

#UlNav {
    top: vh;
    list-style: none;
}

.Pedaco:nth-child(2) {
    width: 20vw;
    padding: 1.5vh;
    margin-left: 15vw;
}

#ClickLogin {
    margin-top: .3vh;
    border: 2px solid var(--CinzaEscuro);
    background-color: var(--CinzaClaro);
    padding: 1vh 1vw;
    border-radius: 16px;
    cursor: pointer;
    transition: 1s all ease-in-out;
    width: 20vw;
    margin-top: .5vh;
    margin-right: 13.7vw;
}

#Gambiarra {
    text-decoration: none;
    list-style: none;
}

#ClickLogin:hover {
    margin-top: .3vh;
    color: var(--CinzaEscuro);
    border: 2px solid var(--CinzaClaro);
    background-color: var(--CinzaEscuro);
    padding: 1vh 1vw;
    border-radius: 16px;
    cursor: pointer;
    color: white;

}

.FakeButton {
    margin-top: .3vh;
    border: 2px solid var(--CinzaEscuro);
    background-color: var(--CinzaClaro);
    padding: 1vh 1vw;
    border-radius: 16px;
    cursor: pointer;
    transition: 1s all ease-in-out;
}

.FakeButton:hover {
    margin-top: .3vh;
    color: white;
    border: 2px solid var(--CinzaClaro);
    background-color: var(--CinzaEscuro);
    padding: 1vh 1vw;
    border-radius: 16px;
    cursor: pointer;
}

.FakeButton-Info {
    margin: 2vw;
    border: 2px solid var(--CinzaEscuro);
    background-color: var(--CinzaClaro);
    padding: 1vh 1vw;
    border-radius: 16px;
    cursor: pointer;
    transition: 1s all ease-in-out;
}

.FakeButton-Info:hover {
    color: white;
    border: 2px solid var(--CinzaClaro);
    background-color: var(--CinzaEscuro);
    padding: 1vh 1vw;
    border-radius: 16px;
    cursor: pointer;
}

* a {
    color: var(--BrancoFosco);
    text-decoration: none;
}


/* Formtação main  */

#CorpoPagina {
    margin-top: 10vh;
    width: 100vw;
    height: auto;
    padding: 2.5vw 2.5vh;
    margin: 5vh auto auto auto;
}

.MainSection {
    margin: auto;
    min-width: 60vw;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 2.5vw 2.5vh;
}

.MainSection article .InfoInicial {
    font-size: 20pt;
}
.MainSection article .InfoInicial:nth-child(1){
padding:2vh;
}

/* footer  */

#MainFooter {
    position: fixed;
    bottom: .5vh;
    text-align: center;
    width: 100%;
}

/* Alinhamento */

.AlinhadoBtw {
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.AlinhadoArd {
    justify-content: space-around;
    display: flex;
    align-items: center;
}

.AlinhadoCen {
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
}

.AlinhadoDir {
    justify-content: right;
    align-items: end;
    display: flex;
    text-align: right;
}

.AlinhadoEsq {
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: left;
}

#Center {
    margin: auto;
    width: 100%;
    height: 80vh;
}

.SmallButton {
    width: 30%;
    margin: auto;
    font-size: 12pt;
    font-weight: bolder;
}

.FlexH {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.FlexV {
    display: flex;
    flex-direction: column;
}

/* grid  */

.Tr-Principal {
    display: flex;
    flex-direction: row;
}

.Tr-Secundaria {
    display: flex;
    flex-direction: column;
}

.Td-Principal {
    border: black solid 1px;
    height: 23vh;
    width: 23vw;
    padding: .5vh .5vw;
    border-radius: 16px;
    display: flex;
    color: black;
    flex-wrap: wrap;
    flex-direction: column;
    margin: .8vh .8vw;
    background-color: aliceblue;
    transition: all 1s ease-in-out;
}

.Td-Secundaria {
    border: black solid 1px;
    height: 15vh;
    width: 17vw;
    padding: .5vh .5vw;
    border-radius: 16px;
    display: flex;
    flex-wrap: wrap;
    margin: .8vh .8vw;
    background-color: aliceblue;
    transition: all 1s ease-in-out;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: black;
}

/* formatação geral  */

#ParagrafoInfo {
    width: 40vw;
    margin-top: 5vh;
}



/* Formatação sudoku */
#sudoku {
    width: 39vw;
    height: 39.4vh;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 1px;
}

#sudoku input {
    width: calc((40vw - 8px) / 9);
    height: calc((40vh - 8px) / 9);
    font-size: 1.5em;
    text-align: center;
}

#sudoku .row:nth-child(6),
#sudoku .row:nth-child(3) {
    margin-right: 3px;
}

#sudoku .row input:nth-child(3),
#sudoku .row input:nth-child(6) {
    margin-bottom: 3px;
}

#sudoku input.error {
    background-color: red;
}

#TabSudoku button {
    margin-left: 1vw;
    height: 40vh;
    border-radius: 0 16px 16px 0;
}

/* Pagina IMC */

.InptImc[type="number"] {
    color: var(--BrancoFosco);
    border: 2px solid var(--CinzaClaro);
    border-radius: 16px;
    background-color: var(--AzulEscuro);
    text-align: center;
    font-size: 16pt;
    color: white;
    width: 50vw;
}

#resultadoIMC {
    width: 50vw;
    background-color: var(--CinzaClaro);
    border: 2px solid var(--CinzaEscuro);
    padding: 10px;
    border-radius: 16px;
    color: white;
    font-weight: bolder;
    font-size: 15pt;
}

/* pagina nome */

#titulo {
    font-family: 'Times New Roman', Times, serif;
    font-size: 65pt;
}

#significado {
    font-size: 50pt;
}

/* fundo animado */
@keyframes mygradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.Aumeto {
    height: 20vh;
    width: 20vw;
}


@media screen and (max-width:1169px) {
    main {
        overflow-X: visible;
    }

    .MainSection {
        display: flex;
        flex-direction: column;
    }

    .FakeButton-Info {
        width: 60vw;
        align-items: center;
        justify-content: center;
    }

    .FakeButton-Info article {
        width: 55vw;
    }
}

@media screen and (max-width:1000px) {

    #NavHeader {
        width: 100vw;
    }

    .Pedaco {
        margin-right: 4vw;
        width: 80vw;
        height: 5vh;
    }

    .Pedaco:nth-child(2) {
        width: 10vw;
        padding: 1.5vh;
        margin-left: 0vw;
    }
}

@media screen and (max-width:632px) {
    .Pedaco {
        display: none;
    }

    .Pedaco:nth-child(2) {
        display: inline;
        width: 10vw;
        padding: 1.5vh;
        margin-left: 0vw;
    }

    .Td-Secundaria {
        border: black solid 1px;
        height: 10vh;
        width: 70vw;
        padding: .5vh .5vw;
        border-radius: 16px;
        display: flex;
        flex-wrap: wrap;
        margin: .8vh .8vw;
        background-color: aliceblue;
        transition: all 1s ease-in-out;
        text-align: center;
        justify-content: center;
        align-items: center;
        color: black;
    }

    #sudoku {
        width: 70vw;
        height: 39.4vh;
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        gap: 1px;

    }

    #sudoku input {
        width: 4.7vh;
        height: 4.7vh;
        font-size: 1.5em;
        text-align: center;
    }

    #TabSudoku button {
        margin-left: 1vw;
        height: 5vh;
        width: 70.5vw;
        margin-top: 3vh;
        border-radius: 0 0 16px 16px;
    }
}

@media screen and (max-width:1200px) {
    .FakeButton-Info {
        width: 80vw;
        align-items: center;
        justify-content: center;
    }

    .FakeButton-Info article {
        width: 75vw;
    }
}

@media screen and (min-width:632px) and (max-width:1170px) {
    .Td-Secundaria {
        border: black solid 1px;
        height: 10vh;
        width: 70vw;
        padding: .5vh .5vw;
        border-radius: 16px;
        display: flex;
        flex-wrap: wrap;
        margin: .8vh .8vw;
        background-color: aliceblue;
        transition: all 1s ease-in-out;
        text-align: center;
        justify-content: center;
        align-items: center;
        color: black;
    }

    #TabSudoku button {
        margin-left: 1vw;
        height: 5vh;
        width: 40.3vw;
        margin-top: -.1vh;
        border-radius: 0 0 16px 16px;
    }
}

@media screen and (max-width:631px) {
    #HeaderPagina {
       display:none;
    }
    #CorpoPagina{
    margin-top:.5vh !important;   
    }

    #NavHeader {
        display:none;
        margin-top: -3vh;
    }

    .FakeButton-Info {
        width: 80vw;
        align-items: center;
        justify-content: center;
    }

    .FakeButton-Info article {
        width: 75vw;
    }

    .FakeButton-Info article p {
        font-size: 12pt !important;

    }

    #ParagrafoInfo {
        width: 90vw;
    }

    #IMCButton {
        width: 50vw;
    }

    #sudoku {
        width: 100%;
        height: 39.4vh;
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        gap: 1px;

    }

    #sudoku input {
        width: 4vh;
        height: 4vh;
        font-size: 1.5em;
        text-align: center;
    }

    #TabSudoku {
        width: 100%;
    }

    #TabSudoku button {
        margin-left: 1vw;
        height: 5vh;
        width: 80.5vw;
        margin-top: -2.7vh;
        border-radius: 0 0 16px 16px;
    }

    #significado {
        font-size: 30pt !important;
    }

}
